
@import "bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
  background-color:rgb(17, 17, 17);
  color: white;
  font-family: 'Rubik', sans-serif !important;
}
button{
  color: #fc4903 !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}
button:hover{
  color:white !important;
  transition: color 0.5s !important;
}
.watch2{
  display: flex; 
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  font-size: 100px;
}
td{
  width: 130px;
}